{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block additionalStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}?version=1">
{% endblock %}

{% block content %}
<div class="register">
    <form method="POST" class="form-group register-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark submit-button">Register</button>
        <p>Back to login: <a href="/login">Here</a></p>
    </form>
</div>
{% endblock %}