{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static '/css/main.css' %}?version=6"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}?version=4"> -->
    {% block additionalStyles %}{% endblock %}
</head>
<body>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
</body>
</html>