{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block additionalStyles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}?version=1">
{% endblock %}

{% block content %}
<!-- <h1>Dashboard</h1> -->
<div class="dashboard">
    <div class="dashboard-text">
        {% if request.user.is_authenticated %}
            <h2>User: {{ request.user }}</h2>
            <h2 class="num-of-credits">Credits: {{ request.user.credits }}</h2>
            <button class="btn btn-dark" id="add-credits-button">Add credits</button>
            <h2><a href="/logout" class="logout">Logout</a></h2>
        {% else %}
            <h1>Please login <a href="/login">Here</a></h1>
        {% endif %}
    </div>
</div>

<script src="{% static 'javascript/dashboard.js' %}"></script>

{% endblock %}